{
    "BD_HOST": "127.0.0.1",
    "BD_USER": "root",
    "BD_PASSWD": "toor",
    "BD_ID": "ironrec",
    "BD_PORT": 3306,
    "DIR_AVISO": "audios/avisos/",
    "DIR_AVISO_PROCESADOS": "audios/avisos_procesados/",
    "DIR_HORA": "audios/horas/",
    "DIR_BASECONOCIMIENTO": "baseconocimiento/",
    "API_HOST":"192.168.61.114",
    "API_PORT":5002,
    "DEMONIO_TIEMPO_AVISOS": 10,
    "DEMONIO_TIEMPO_HORAS": 10,
    "DEMONIO_TIEMPO_XMLS": 10,
    "DIR_HORA_PROCESADA": "audios/horas_procesadas/",
    "DIR_HORA_HUELLA": "audios/horas_huellas/",
    "MAX_PROC" : 10,
    "RESET_BD": 0
}
